#mapid { height: 760px; }

body {
  background-color: navy;
}

table {
  border-collapse: collapse;
  font-family: sans-serif;
  color: floralwhite;
}

table, th, td {
  border: 1px solid red;
}

h3, p {
    font-family: verdana;
    color: floralwhite;
}

p {
    color: red;
}

td {
  border-top:0pt none;
  margin-top:0pt;
  padding-bottom:5px;
  padding-left:12px;
  padding-right:12px;
  padding-top:5px;
}

/*div {*/
  
/*}*/

.blinking{
    animation:blinkingText 1.5s linear infinite;
}
@keyframes blinkingText{
  50% {
    opacity: 0;
  }
}