#mapid { height: 760px; }

.card-container {
  display: grid;
  grid-template-columns: 30%;
  text-align: center;
  padding: 10px;
  z-index: 999;
}


.card-container > div {
  background-color: navy;
  opacity: 60%;
  border: solid 1px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: orangered;
  border-color: orangered;
  text-align:center;
  height: 600px;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  border-radius: 10px;
  z-index:999;
}


body {
  background-color: floralwhite;
  
  /*display: grid;*/
  /*grid-template-rows: repeat(4, 100px);*/
  /*grid-template-columns: repeat(3, 1fr);*/
}

table {
  border-collapse: collapse;
  font-family: sans-serif;
  color: floralwhite;
}

table, th, td {
  border: 1px solid red;
}

h3, p {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: red;
    text-align: center;
    margin: 20px;
}

p {
    color: red;
}

td {
  border-top:0pt none;
  margin-top:0pt;
  padding-bottom:5px;
  padding-left:12px;
  padding-right:12px;
  padding-top:5px;
}

#myInput {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.form-control{
  width: 25%;
  margin-left: 20px;
}

.dropdown-item{
  border-collapse: collapse;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-template-rows: 15%;
  grid-gap: 1rem;
  text-align: center;
  padding: 10px;
  z-index: 999;
}


.grid-container > div {
  background-color: white;
  border: solid 1px;
  border-color: red;
  text-align:center;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  border-radius: 10px;
  z-index:999;
}


.blinking{
    animation:blinkingText 1.5s linear infinite;
}
@keyframes blinkingText{
  50% {
    opacity: 0;
  }
}